div.date {
  position: fixed;
  bottom: 0;
  right: 3%;
}

div.date .year {
  font-size: var(--font-x-large);
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

div.date .day {
  display: block;
  font-size: var(--font-large);
  margin-right: 1vw;
  text-align: end;
}

@keyframes slideInFromRight {
  to {
    transform: translateX(0);
  }
}

span.split-letter {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  font-family: inherit;
}

span.split-letter > span {
  display: block;
  font-family: inherit;
  transform: translateX(100%);
  animation: slideInFromRight 1000ms var(--ease);
  animation-fill-mode: forwards;
}
